<div class="contenedor" [@fadeIn]>
  <div class="abtImg">
    <img src="assets/conten/Conten_nosotros_1.PNG" alt="" class="conoce">
    <button class="buttonImg"> Conoce más</button>
  </div>
  <div class="anios">
    <div class="aniosmitad">
      
      <img src="assets/conten/Conten_nosotros_3.jpg" alt="" class="aniosimage">
      <button class="button-anios"> Sigue leyendo</button>
    </div>
    <div class="aniostexto">
      <p> En Contén Atlas nos especializamos en el diseño y manufactura de: </p>
      <ul>Racks automotrices</ul>
      <ul>Contenedores metálicos</ul>
      para la industria automotriz
    </div>
  </div>
  <div class="caracteristicas">
    <h1>Nuestras caracteristicas:</h1>
    <div class="middle-container">
      <div>
        <div class="symbol">

        </div>
        <div class="title">
          Diseño perosnalizado:
        </div>
        <div class="middle-text">
          Trabajamos estrechamente con nuestros clientes para desarrollar soluciones que se austen a sus necesidades.
        </div>
      </div>
      <div>
        <div class="symbol">

        </div>
        <div class="title">
            Calidad y durabilidad:
        </div>
        <div class="middle-text">
          Nuestros productos están fabricados con materiales especiales para garantizar la seguridad de las autopartes durante el transporte.
        </div>
      </div>
      <div>
        <div class="symbol">

        </div>
        <div class="title">
            Servicio Integral:
        </div>
        <div class="middle-text">
          No solo proporcionamos productos, sino también asesoramiento experto y servicios de diseño e ingeniería.
        </div>
      </div>
    </div>
    <div class="bottom-text">
      Nos enorgullece de ser parte de la cadena de suministro de la industria automotriz, contribuyendo a la eficiencia y seguridad en el manejo de autopartes.
    </div>
  </div>
  <div class="abtImg">
    <img src="assets/conten/Conten_nosotros_2.PNG" alt="" class="conoce">
  </div>
</div>
