<div class="contenedor" [@fadeIn]>
  <div class="desAndEngImg">
    <img src="assets/conten/Diseño_e_ingenieria_1.png" alt="" class="desAndEngImg">
  </div>
  <div class="carousel">
    <div class="image-sel">
      <div class="select">
        <img src="assets/conten/Diseño_e_ingenieria_selector_izq.png" alt="" class="">
        
      </div>
      <div class="image">
        <img src="assets/conten/Diseño_e_ingenieria_2.jpg" alt="" class="image">
        
      </div>
      <div class="select">
        <img src="assets/conten/Diseño_e_ingenieria_selector_der.png" alt="" class="">

      </div>
    </div>
    <div class="desc">
      Utilizando nuestra experiencia en el diseño de propuestas hechas a la medida para cada necesidad.
      <br>
      <br>
      Ofrecemos una amplia variedad de diseños, desarrollados a partir de programas especializados compatibles con cualquier software que nuestros clientes utilicen. Cada proyecto es diseñado por un equipo con amplia experiencia, conocimiento y creatividad, utilizando nuestros equipos de alta tecnología para su desarrollo.
    </div>
  </div>
</div>
