<div class="contenedor" [@fadeIn]>

  <div class="certificaciones-Img">
    <img src="assets/conten/certificaciones.png" alt="" class="certificaciones-Img">
  </div>
  <div class="cetifications-carousel">
    <div class="left">
      <div class="indide-container">

        <div class="select">
          <img src="assets/conten/Diseño_e_ingenieria_selector_izq_blanco.png" alt="" class="">
        </div>
        <div class="cert-description">
          Contamos con el Certificado otorgado por el Instituto Mexicano de Normalización y Certificación A.C. por implementar y mantener un sistema de Gestión de la Calidad de conformidad con NMX-CC-9001-IMNC-2015 ISO 9001:2015
        </div>
      </div>
    </div>
    <div class="right">
      <div class="indide-container">

        <div class="cert-Img">
          <img src="assets/conten/certificaciones_2.jpg" alt="" class="cert-Img">
        </div>
        <div class="select">
          <img src="assets/conten/Diseño_e_ingenieria_selector_der.png" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</div>
