.contenedor{
  width: 100%;
}
.certificaciones-Img{
  width: 100%;
}
.left{
  width: 50%;
  height: 80vh;
  background-color: var(--color-secundario);
  display: inline-flex;
}
.right{
  width: 50%;
  height: 80vh;
  display: inline-flex;
}
.indide-container{
  display: inline-flex;
  margin: 10%;
  text-align: center;
  align-content: center;
}
.cetifications-carousel{
  margin-top: 10vh;
  display: inline-flex;
}

.select{
  align-content: center;
}
.cert-description{
  display: flex;
  align-items: center;
  color: white;
  margin: 10%;
  margin-right: 0;
  font-size: xx-large;
}
.cert-Img{
  width: 80%;
}