@if(!slides || slides.length === 0){
<div class="no-content">
  <p>No hay contenido para mostrar</p>
</div>
} @else {
<div class="carousel-container">
  <!-- CAROUSEL ELEMENT -->
  <swiper-container autoplay="false" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
    [ngStyle]="{ width: width }">
    <!-- SLIDES -->
    @for(slide of slides; track slide;){
    <swiper-slide>
      <div class="element" [ngStyle]="{ height: height }" (click)="goToDestiny(slide.url)">
        <div class="img-container" [ngStyle]="{ height: imgHeight, width: imgWidth }">
          <img [src]="slide.img" alt="slide.img" class="img">
        </div>
        <div class="content">
          <p>{{slide.name}}</p>
        </div>
      </div>
    </swiper-slide>
    }
    <!-- END SLIDES -->
  </swiper-container>
  <!-- END CAROUSEL ELEMENT -->
  <div class="next">
    <button (click)="nextView()">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
  </div>
  <div class="prev">
    <button (click)="prevView()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
</div>
}
