.izq{
  width: 50%;
  padding: 5%;
}
.der{
  width: 50%;
  margin: 5%;
  margin-left: 0;
}
.imagen-titulo-desc{
  display: inline-flex;
  height: 100vh;
  align-items: center;
  margin-top: 150px;
}
.contenedor{
  width: 100%;
}
.manufactura-Img{
  width: 100%;
}
.imagenes{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.carta{
  width: 27%;
  margin: 2%;
  
}
.tres-descripcion{
  width: 100%;
  text-align: center;
  align-items: center;
}
.tres-titulo{
  width: 100%;
  text-align: center;
  align-items: center;

}
.imagen{
  
  border-style: solid;
  border-width: 1px;
}
.descripcion{
  margin-left: 5.5%;
  margin-right: 5.5%;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 4vh;
  text-align: justify;
}
.nombre{
  font-size: 4vh;
  font-weight: 200;
  align-content: center;
}
.titulo{
  text-align: center;
  font-size: 5vh;
}
.titulo-mediano{
  text-align:left;
  font-size: 5vh;
  font-weight: 700;
}
.descripcion-mediana{
  font-size: x-large;
}
