<div class="contenedor" [@fadeIn]>
  <div class="manufactura-Img">
    <img src="assets/conten/Manufactura_1.png" alt="" class="manufactura-Img">
  </div>
  <div class="contenido">
    <div class="tres-descripcion">
      <div class="descripcion">
        En nuestra división de Manufactura, actualmente contamos con maquinaria especializada y perfectas instalaciones
        que nos permiten cortar, doblar, troquelar y soldar materiales de acero en gran volumen.
      </div>
      <div class="imagenes">
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_2.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            MÁQUINA LASER LT-5
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_3.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            MÁQUINA LASER LC-5

          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_4.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            MÁQUINA LASER LS-5

          </div>
        </div>
      </div>
    </div>
    <div class="tres-titulo">
      <div class="titulo">
        <strong> Corte láser y plasma</strong>
      </div>
      <div class="imagenes">
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_5.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            CORTE LÁSER PARA TUBO
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_6.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">CORTE LÁSER PLACA Y LÁMINA
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_7.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            CORTE CON PLASMA
          </div>
        </div>
      </div>
    </div>
    <div class="imagen-titulo-desc">
      <div class="izq">
        <div class="imagen">

          <img src="assets/conten/Manufactura_8.png" alt="" class="manufactura-Img">
        </div>
      </div>
      <div class="der">
        <div class="titulo-mediano">
          Corte láser para tubo
        </div>
        <div class="descripcion-mediana">
          Nuestras máquinas de corte láser para tubo nos permiten ofrecer cortes con una gran precisión, cortar
          geometrías complejas en tubos redondos, cuadrado, rectangular y ovaes con tiempos de proceso muy rápidos
          •Podemos crear cualquier característica de corte o geometría en los tubos. <br>
          •Tubos redondos, cuadrado, rectangular y ovales.
          •Agujeros, ranuras, chaflanes, filetes.
          •Corte pliegue para posteriormente doblar un tubo
          •Diferentes tipos de materiales (acero al carbón, acero
          inoxidable, acero galvanizado, aluminio, cobre, latón)
          •Fabricación de piezas que tienen diferentes procesos en
          una sola máquina.
          •Mejor precisión.
          •Mejor calidad de corte.
          •Mejores tiempos de proceso.
        </div>
      </div>
    </div>
    <div class="tres-titulo">
      <div class="titulo">
        <strong> Corte convencional</strong>
      </div>
      <div class="imagenes">
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_9.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            CORTE CON CIZALLA
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_10.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">TROQUELADO
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_11.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            CORTE CON SIERRA CINTA
          </div>
        </div>
      </div>
    </div>
    <div class="tres-titulo">
      <div class="titulo">
        <strong> Soldadura</strong>
      </div>
      <div class="imagenes">
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_12.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            CORTE DE BARRAS Y TUBERÍAS
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_13.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">DOBLEZ DE PLACA Y LÁMINA
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_14.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            ROBOT DE SOLDADURA
          </div>
        </div>
      </div>
    </div>
    <div class="tres-titulo">
      <div class="titulo">
        <strong> Pintura</strong>
      </div>
      <div class="imagenes">
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_15.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            SISTEMA DE PINTURA EN POLVO
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_16.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">SISTEMA DE PINTURA LÍQUIDA (HORNO)
          </div>
        </div>
        <div class="carta">
          <div class="imagen">
            <img src="assets/conten/Manufactura_17.png" alt="" class="manufactura-Img">

          </div>
          <div class="nombre">
            MEDICIÓN DE RACKS POR MEDIO DE SCANNER
          </div>
        </div>
      </div>
    </div>
  </div>
</div>