<nav>

  <!-- <div class="responsive">
    <img src="assets/atlas_icon.png" alt="" id="logo">
    <mat-icon (click)="toggleIcon()">{{icon}}</mat-icon>
  </div> -->
  <div class="nav" id="nav">
    <div class="upper">
        
        <div class="nav-izq">

          <a href="https://www.facebook.com/Andamios.Atlas.Encofrados/"><img src="assets/fb.svg" alt="i" class="icon"></a>
          <a href="https://twitter.com/Andamios_Atlas?lang=es"><img src="assets/x.svg" alt="i" class="icon"></a>
          <a href="https://www.instagram.com/andamiosatlas/?hl=es-la"><img src="assets/ig.svg" alt="i" class="icon"></a>
          <a href="https://api.whatsapp.com/send/?phone=5215572400383&text&type=phone_number&app_absent=0"><img src="assets/wp.svg" alt="" class="icon"></a>
        </div>
        <div class="nav-der">
          <mat-icon>call</mat-icon><a>800 Andamio (2632646)</a>
          <mat-icon>mail</mat-icon><a href="mailto:servicioaclientes@andamiosatlas.com?subject=Servicio%20al%20cliente">Servicio al cliente</a>
          
        </div>

    </div>
    <div class="lower">
      <div class="options">
        <div class="logos">

          <img src="assets/Logo_Andamios-Atlas.png" alt=""  id="logo">
          
          <img src="assets/Logo-Conten.png" alt="logo" class="logo" />
        </div>
        <div class="buttons">
          <div class="item-categoria">
            <a href="/conten" routerLink="/conten" routerLinkActive="active">NOSOTROS</a>
          </div>
          
          <div class="item-categoria">
            <a href="/conten/Manufactura" routerLink="/conten/Manufactura" routerLinkActive="active">MANUFACTURA</a>
          </div>
          <div class="item-categoria">
            <a href="/conten/DiseñoEIngenieria" routerLink="/conten/DiseñoEIngenieria" routerLinkActive="active">DISEÑO E
              INGENIERIA</a>
            </div>
            
            <div class="item-categoria">
              <a href="/conten/Productos" routerLink="/conten/Productos" routerLinkActive="active">PRODUCTOS</a>
            </div>
            <div class="item-categoria">
              <a href="/conten/Certificaciones" routerLink="/conten/Certificaciones" routerLinkActive="active">CERTIFICADOS</a>
            </div>
          </div>
      </div>
    </div>
    <!-- @for (categoria of navbar; track categoria) {
      <div class="item-categoria">
        <a href="/andamios/categoria/{{categoria.url}}" routerLink="/andamios/categoria/{{categoria.url}}" routerLinkActive="active">{{
        categoria.titulo }}</a>
        @if(categoria.tipo === 'A'){
          <div class="secciones">
            @for (seccion of categoria.secciones; track seccion) {
              <div class="item-seccion">
                <a href="/andamios/seccion/{{seccion.url}}"
                routerLink="/andamios/seccion/{{seccion.url}}" routerLinkActive="active">{{seccion.titulo}}</a>
                <div class="subsecciones">
                  @for (subseccion of seccion.subsecciones; track subseccion) {
                    <a class="item-subseccion" href="/andamios/subseccion/{{subseccion.url}}" routerLinkActive="active">{{subseccion.nombre}}</a>
                    }
                  </div>
                </div>
                }
              </div>
              }
            </div>
            } -->
    
  </div>

 

</nav>