<div class="contenedor" [@fadeIn]>

    <div class="producsImg">
        <img src="assets/imagenes/Productos_1.png" alt="" class="conoce">
    </div>
    <div class="products">
        <div class="images">
            <img src="assets/imagenes/Productos_2.jpg" alt="" class="conoce">
        </div>
        <div class="images">
            <img src="assets/imagenes/Productos_3.jpg" alt="" class="conoce">
        </div>
        <div class="images">
            <img src="assets/imagenes/Productos_4.jpg" alt="" class="conoce">
        </div>
    </div>
</div>