<div class="contenedor" [@fadeIn]>
  <div class="banner">
    <img src="assets/imagenes/Productos_1.png" alt="">
  </div>
  <div class="products">
    @for (item of items; track item) {
      <div class="hoverable-container">
        <img class="background-container" [src]="item.img" />
        <div class="title-content">
          <h1 class="title">{{item.title}}</h1>
        </div>
        <div class="hoverable-content">
          <h1 class="hoverable-title">{{item.title}}</h1>
          <div class="hoverable-description">
            <p [innerHTML]="item.description"></p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
